@import "tailwindcss";

@theme {
  --font-inter: "Inter";
  --font-playfair-display: "Playfair Display";
}


@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ── Page ─────────────────────────────────────────────────────────────────── */
.main-page {
  @apply flex-center flex-col;
  min-width: 100vw;
  min-height: 100vh;   
  font-family: 'Inter', sans-serif;
  transition: background 0.5s ease;
  position: relative;
}

/* ── Top icons ────────────────────────────────────────────────────────────── */
.leftArrow-btn,
.theme-btn {
  position: absolute;
  top: 42px;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s ease;
}

.leftArrow-btn  { left: 68px;  }
.theme-btn { right: 68px; }

.leftArrow-btn:hover {
  transform: translateX(-5px);
}

.theme-btn:hover {
  opacity: 0.7;
}

/* ── Tab toggle ───────────────────────────────────────────────────────────── */
.tab-toggle {
  display: flex;
  width: 480px;
  height: 65px;
  padding: 6px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 62px;
  transform: translateY(-30px)
}

.tab-toggle-btn {
  @apply font-inter;
  font-weight: 300;
  flex: 1;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: background 0.25s ease, color 0.25s ease;
  border-radius: 8px;
}

/* ── Content box ─────────────────────────────────────────────────────────── */
.main-page-content {
  width:580px;
  height: 580px;
  transform: translateY(-30px);
}